* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #333;
  background: #fff;
}

/* ===== Header ===== */
.top-bar {
  background: #002244;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 6px 0;
}

.container {
  width: 90%;
  margin: auto;
}

/* ===== Navbar ===== */
.navbar {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.logo span {
  color: #007bff;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* ===== Hero ===== */
.hero {
  background-image: url(CSS/assets/image/img1.png);
  color: white;
  text-align: center;
  padding: 150px 20px;
  position: relative;
  background-size: cover;
}
.overlay {
  background: rgba(0,0,0,0.5);
  padding: 80px;
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

/* ===== About ===== */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
 
  height: 100px;
  width: 200px;
  
}
.about-text {
  flex: 1;
}
.about img {
  width: 40%;
  border-radius: 6px;
}
.about-text h2 span {
  color: #007bff;
}

/* ===== Services ===== */
.services {
  text-align: center;
  padding: 60px 0;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.service {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  transition: 0.3s;
}
.service:hover {
  background: #007bff;
  color: #fff;
}

/* ===== Team ===== */
.team {
  text-align: center;
  margin: 60px 0;
}
.team-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.member img {
  width: 200px;
  border-radius: 10px;
}

/* ===== Projects ===== */
.projects {
  text-align: center;
  margin: 60px 0;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.project {
  background: #ccc;
  height: 200px;
  border-radius: 8px;
}

/* ===== Contact ===== */
.contact {
  text-align: center;
  padding: 60px 0;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  margin: auto;
}
.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* ===== Footer ===== */
footer {
  background: #002244;
  color: white;
  text-align: center;
  padding: 20px 0;
}
